* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #f4d04e;
  --black: #111111;
  --grey: #7f7f7f;
}

body {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  background-color: var(--yellow);
  color: var(--black);
  padding: 1.5rem;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.125rem;
}

.blog-container {
  width: 100%;
  max-width: 384px;
  border-radius: 1.25rem;
  padding: 1.5rem;
  background-color: white;
  border: 1px solid var(--black);
  box-shadow: 8px 8px 0 0 #000;
}

.blog-image img {
  width: 100%;
  border-radius: 0.625rem;
}

.blog-header {
  margin: 1.5rem 0 0.75rem;
}

.blog-category {
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  background-color: var(--yellow);

  font-size: 0.75rem;
  font-weight: 800;
  display: inline-block;
}

.blog-meta {
  font-size: 0.75rem;
  margin-top: 0.75rem;
}

.blog-content {
  margin-bottom: 1.5rem;
}

.blog-title {
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: 0.75rem;
  transition: color ease-in 280ms;
  cursor: pointer;
}

.blog-title:hover {
  color: var(--yellow);
}

.blog-desc {
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--grey);
}

.author-info {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.author-info img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.author-name {
  font-size: 0.875rem;
  font-weight: 800;
}

footer p {
  font-size: 0.875rem;
  color: var(--black);
}

footer a {
  color: #3e52a3;
}

@media screen and (min-width: 768px) {
  .blog-category,
  .blog-meta {
    font-size: 0.875rem;
  }

  .blog-title {
    font-size: 1.5rem;
  }

  .blog-desc {
    font-size: 1rem;
  }
}
